body {
  --bege: #E6E0D6;
  --marrom-escuro: #816D4F;
  --marrom-claro: #B29463;
  font-family: 'Barlow', sans-serif;
}

.form-check-input {
  border-color: var(--marrom-claro);
}

.form-check-input:checked,
.sanfona-header {
  background-color: var(--marrom-claro);
  border-color: var(--marrom-claro);
}

.banner-1 {
  background-image: url(./assets/banner-1.png);
}

.banner-2 {
  background-image: url(./assets/banner-2.png);
}

.banner-3 {
  background-image: url(./assets/banner-3.png);
}

.banners {
  height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  /*paralaxe*/
}

.banner-h2,
.servicos-titulo {
  font-size: 40px;
  font-weight: 600;
}

.banner-p {
  font-size: 20px;
  font-weight: 400;
}

.banner-titulo {
  --bs-bg-opacity: .2;
  width: 100vw;
}

.navbar {
  font-size: 24px;
}

.card-servicos-titulo {
  font-size: 24px;
  font-weight: 400;
}

.card-servicos-p,
.sanfona-header,
.sanfona-texto {
  font-size: 16px;
  font-weight: 400;
}

.botao-servicos {
  font-size: 16px;
  font-weight: 500;
  background-color: var(--marrom-claro);
}

.botao-servicos:hover {
  background-color: var(--marrom-escuro);
}

.titulo-offcanvas {
  font-size: 24px;
  font-weight: 500;
}

.titulo-card-produtos {
  font-size: 28px;
  font-weight: 600;
}

.form-range::-webkit-slider-thumb {
  background: var(--marrom-claro);
}

.form-range::-webkit-slider-runnable-track {
  background-color: black;
}

.rodape {
  background-color: var(--marrom-claro)
}

.botao-enviar {
  font-size: 20px;
}

.icone-rodape {
  color: black;
  font-size: 24px;
  padding: 0 20px;
}


[data-bs-theme="dark"] {
  color: white;

  .card-body,
  .botao-servicos,
  offcanvas-header,
  .accordion {
    --bs-card-color: white;
    --bs-btn-color: white;
    --bs-heading-color: white;
    --bs-accordion-color: white;
    --bs-accordion-btn-color: white;
    --bs-accordion-btn-bg: white;
  }

  .icone-rodape {
    color: white;
  }
}


@media (max-width: 1200px) {
  .card {
    width: 50%;
  }

  .cards-container {
    align-items: center;
  }
}

@media (max-width: 768px) {
  .card {
    width: 90%;
  }

}